.blok {
    width: 200px; /* Breedte van het blok */
    height: 100px; /* Hoogte van het blok */
    background-image: url('https://cdn.discordapp.com/attachments/1165918954397634622/1165947642837205012/image.png?ex=6548b45c&is=65363f5c&hm=053d0d0e688c99c9ba0889f0ebf620103c74154e29ffb904257b470d7a3018b3&'); /* Achtergrondafbeelding voor het blok */
    background-size: cover; /* De afbeelding aanpassen aan de grootte van het blok */
    text-align: center; /* Tekst uitlijnen in het midden van het blok */
    padding: 20px; /* Binnenafstand van het blok */
    margin: 20px; /* Buitenafstand van het blok */
}

.blok a {
    text-decoration: none; /* Verwijder onderstreping van de link */
    color: #fff; /* Tekstkleur van de link */
}

.blok a:hover {
    color: #ff5733; /* Tekstkleur van de link bij hover (muis erboven) */
}
